@import "colors.css";
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Fraunces", serif;
  scroll-behavior: smooth;
}
body {
  background: rgb(236, 238, 239);
  background: linear-gradient(
    124deg,
    rgba(236, 238, 239, 0.7906458797327394) 10%,
    rgba(222, 225, 227, 0.8062360801781737) 95%
  );
  color: var(--color-primary-tint-orange-9);
  font-size: 16px;
  font-weight: normal;
}
/* navbar */
.logo {
  height: 30px;
  width: 50px;
}

/* desktop */
.navbar {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  color: var(--color-gray-tint-gray-0);
  background-color: var(--color-accent-tint-blue-9);
  text-shadow: 2px var(--color-gray-tint-gray-6);
  top: 0;
  left: 0;
  z-index: 100;
}

.brand-title {
  font-size: 2rem;
  margin: 0.5rem;
}
.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: var(--color-gray-tint-gray-0);
  padding: 1rem;
  text-transform: uppercase;
  display: block;
}

.navbar-links li:hover {
  background-color: var(--color-accent-tint-blue-5);
}

.toggle-button {
  position: absolute;
  cursor: pointer;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}
/* end of navbar */

/* HERO IMAGE PART */
.hero-image-item-wrap {
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.hero-image-wrapper img {
  display: block;
  width: 100%;
  margin: 0 auto;
  max-height: 500px;
  object-fit: cover;
}

.hero-image-text-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  padding: 20px;
  color: #f9ebe3;
  background-color: var(--color-accent-tint-blue-9);
  box-shadow: 17px 7px 10px -8px rgba(91, 69, 58, 0.81);
  transform: translate3d(-100%, 0, 0);
  transition: transform 0.5s cubic-bezier(0.33, 0.02, 0, 0.93);
  font-size: 18px;
}

.hero-image-text-wrapper h3 {
  text-align: center;
  text-transform: uppercase;
}

.hero-image-text-wrapper p {
  text-align: center;
  margin: 1rem;
}

.hero-image-item:hover .hero-image-text-wrapper,
.hero-image-overlay:hover {
  transform: translate3d(0, 0, 0);
  transition: transform 0.5s cubic-bezier(0.33, 0.02, 0, 0.93) 0.3s;
}

.hero-image-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  transform: translate3d(-100%, 0, 0);
  transition: transform 0.4s cubic-bezier(0.33, 0.02, 0, 0.93) 0.2s;
}
/* END OF HERO IS HERE */

.farm-block,
.alpaca-gallery,
.tours,
.accommodation,
.booking,
.farm-shop,
.section__contact-form {
  margin: 50px auto;
}

hr {
  width: 25%;
  margin: 25px auto;
}

.farm-container {
  display: flex;
  justify-content: center;
}

.farm-container img,
.accommodation-container img,
.shop-container img {
  width: auto;
  height: 300px;
  object-fit: scale-down;
  padding: 20px;
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
}

.alpaca-gallery {
  display: flex;
  flex-flow: column nowrap;
  padding: 25px;
  margin: 5px auto;
}

.headline {
  text-align: center;
  text-transform: uppercase;
}

.headline::before,
.headline::after {
  content: "•";
  padding: 0 25px;
}
.img-text {
  vertical-align: top;
  display: inline-block;
  text-align: center;
}

.alpaca {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.alpaca img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 10px;
  transition: all 0.4s ease-in-out;
}
.alpaca-gallery img:hover {
  box-shadow: 6px 5px 8px 0px rgba(0, 0, 0, 0.66);
  transform: scale(1.03);
}

/* MOE TOURS */
.section__tours {
  display: flex;
  justify-content: center;
  max-width: 100vw;
  padding: 1rem;
  flex-wrap: wrap;
  font-weight: 600;
  color: var(--color-light);
}

.tours__cards-headline i {
  color: var(--color-primary);
  transition: all 0.4s ease-in-out;
}

.tours__cards-headline i:hover {
  transform: scale(1.03);
}

.tours__cards-items {
  width: 400px;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background-color: #4e3b30d3;
  padding: 1rem 2rem;
  margin: 24px;
  border-radius: 5px;
  border: 1px solid var(--color-gray-tint-gray-6);
  box-shadow: 2px 1px 7px -1px var(--color-primary-tint-orange-9);
}

.tours__cards-headline {
  margin: 1rem 0;
  text-align: center;
  text-transform: uppercase;
}

.tours__cards-p {
  padding: 1rem 0;
  margin: 1rem 0;
}

.tours__list {
  list-style: square inside;
}

.tours__list li {
  margin: 0.5rem 0;
}

.farm-block,
.accommodation,
.farm-shop {
  background-color: #f4dcce54;
  padding: 30px 0;
  margin: 15px 0;
}

.post-wrap {
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  cursor: pointer;
}

.post-item {
  padding: 10px;
}

.post-link {
  text-decoration: none;
  display: block;
}

.post-item-wrap {
  overflow: hidden;
  position: relative;
  border-left: 5px solid var(--color-primary-tint-orange-9);
}

.post-item img {
  display: block;
  width: 350px;
  height: 350px;
  object-fit: cover;
}

.text-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  width: 86%;
  padding: 20px;
  background-color: var(--color-primary-tint-orange-9);
  transform: translate3d(-100%, 0, 0);
  transition: transform 0.5s cubic-bezier(0.33, 0.02, 0, 0.93);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.post-item:hover .text-wrapper {
  transform: translate3d(0, 0, 0);
  transition: transform 0.5s cubic-bezier(0.33, 0.02, 0, 0.93) 0.3s;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  background: #004170;
  transform: translate3d(-100%, 0, 0);
  transition: transform 0.4s cubic-bezier(0.33, 0.02, 0, 0.93) 0.2s;
}

.post-item:hover .overlay {
  transform: translate3d(0, 0, 0);
  transition: transform 0.5s cubic-bezier(0.33, 0.02, 0, 0.93);
}

.post-content {
  margin-bottom: 5px;
  color: var(--color-light);
}

.post-title {
  margin-bottom: 1rem;
  font-weight: 400;
  color: var(--color-light);
  text-transform: uppercase;
}

/* BOOKING SECTION */
.booking {
  margin: 2rem auto;
  width: 65%;
  text-align: center;
  padding: 30px 0;
}

.booking-btn {
  text-decoration: none;
  display: inline-block;
  width: 180px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  margin: 10px 20px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  color: var(--color-primary-tint-orange-9);
  background: var(--color-gray-tint-gray-0);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

.booking-btn:hover {
  background: var(--color-accent-tint-blue-8);
  box-shadow: 0 15px 20px #606e79;
  color: var(--color-light);
  transform: translateY(-7px);
}

.booking-btn:active {
  transform: translateY(1px);
}

.tour-btn:hover {
  background: var(--color-primary);
  box-shadow: 0 15px 20px #07070779;
}

.booking-content {
  margin-bottom: 15px;
}

/* MAURICIO SECTIONS */
/* FORM SECTION */
.section__contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  padding: 2rem;
}

.contact-form__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 2px 5px 8px 0 rgba(0, 0, 0, 0.5);
  background-color: #4e3b30d3;
  color: var(--color-light);
}

.contact-form__headline {
  text-align: center;
  margin: 1rem 0;
}

.contact-form__headline::before,
.contact-form__headline::after {
  content: "•";
  padding: 0 25px;
  color: var(--color-light);
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  outline: none;
  background: var(--color-gray-tint-gray-0);
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  box-shadow: inset 0 0 0 2px #e5ae8cef;
  background-color: #fdf9f6ea;
}

input[type="submit"] {
  width: 100%;
  background-color: var(--color-primary);
  color: var(--color-light);
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bolder;
  outline: none;
}

input[type="submit"]:active {
  transform: translateY(2px);
}

/* FOOTER GENERALS */
.footer {
  padding: 16px 20px 0 20px;
  padding-top: 16px;
  text-align: center;
  width: 100%;
  height: 150px;
  background-color: var(--color-accent-tint-blue-9);
  color: var(--color-light);
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__links {
  color: var(--color-light);
}

.footer__links:hover {
  color: var(--color-accent-tint-blue-5);
}

/* FOOTER SOCIAL */
.footer-social-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
}

.social-icons li {
  display: inline;
  list-style-type: none;
  margin: 1rem 0;
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: var(--color-primary-tint-orange-9);
  font-weight: 700;
}

.social-icons a {
  background-color: var(--color-light);
  color: var(--color-accent-tint-blue-9);
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: var(--color-black);
}
.social-icons a:focus,
.social-icons a:hover {
  color: var(--color-light);
  background-color: var(--color-accent-tint-blue-5);
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
}

.social-icons a.facebook:hover,
.social-icons a.twitter:hover,
.social-icons a.linkedin:hover,
.social-icons a.instagram:hover {
  background-color: var(--color-accent-tint-blue-6);
}

/* MEDIA QUERIES */
@media screen and (min-width: 800px) {
  .footer-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    flex-basis: 33.333333333%;
    flex-shrink: 0;
  }
}

@media screen and (max-width: 576px) {
  .farm-container {
    flex-direction: column;
    justify-content: center;
  }
  .tours__cards-headline i {
    font-size: 3em;
  }
}

@media only screen and (max-width: 450px) {
  .tours__cards-items {
    width: 400px;
    height: auto;
    max-height: 750px;
  }
}

@media only screen and (max-width: 980px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}
